<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pickup</title>
    <link rel="stylesheet" href="./static/game.css">
</head>
<body>
<div id="game-container">
    <div id="game-info">
        <h2>pickup</h2>
        <div id="score">Your Score: <span id="score-value">0</span></div>
        <div id="timer">Time remaining: <span id="time-left">60</span>s</div>
    </div>
    <div id="game-board">
        <!-- JavaScript will generate cells here -->
    </div>
    <div id="controls-info">
        <!-- Game controls information -->
    </div>
    <div id="player-list">
        <!-- Other players will be listed here -->
    </div>
    <div id="game-messages">
        <!-- Other players will be listed here -->
    </div>
</div>
<script src="./static/game.js"></script>
</body>
</html>
