<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pickup</title>
    <link rel="stylesheet" href="./static/room.css">
</head>
<body>
<div class="container">
    <div class="room" id="room-A">
        <h2>Room A</h2>
        <p>Click to enter the room</p>
        <p id="countdown-A"></p>
    </div>
    <div class="room" id="room-B">
        <h2>Room B</h2>
        <p>Click to enter the room</p>
        <p id="countdown-B"></p>
    </div>
</div>

<script type="module" src="./static/room.js"></script>
</body>
</html>